/*  */
/* Fonts */
/*  */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");

  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");

  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");

  font-weight: 700;
}

/*  */
/* Variables */
/*  */
:root {
  /* Page background */
  --page-bg-green: #849d8f;
  --page-bg-grey: #8996a6;
  --page-bg-brown: #9d8b84;

  /* Colors */
  --base-white: #ffffff;
  --base-transparent-white: rgba(255, 255, 255, 0.2);

  --base-black: #323232;
  --extra-black: #5a5a5a;
  --base-transparent-black: rgba(50, 50, 50, 0.3);
  --extra-transparent-black: rgba(0, 0, 0, 0.07);

  --base-beige: #f8f7f4;

  --base-lightpearl: #fbded7;
  --base-pearl: #f6b5a5;
  --base-darkpearl: #d07058;

  --base-red: #f26843;
  --extra-red: #e74a35;
  --base-brightred: #e84d37;
  --transparent-brightred: rgba(232, 77, 55, 0.3);
  --base-darkred: #ac1000;
  --transparent-darkred: rgba(160, 32, 11, 0.76);
  --extra-darkred: #942718;
  --extra-transparent-darkred: rgba(172, 16, 0, 0.64);

  --base-dimred: #ffbc9e;
  --transparent-dimred: rgba(255, 188, 158, 0.3);

  /* Form field colors */
  --base-grey: #999999;
  --extra-grey: #ababab;

  --base-field-border: #d7d7d7;
  --active-field-border: #92c1f1;

  /* Button */
  --basic-gradient: 180deg, var(--base-red) 0%, var(--extra-red) 100%;

  --hover-extra-gradient: 0deg, var(--base-transparent-white),
    var(--base-transparent-white);

  --active-extra-gradient: 0deg, var(--extra-transparent-black),
    var(--extra-transparent-black);

  --basic-text-shadow: 0px 2px 5px var(--transparent-darkred);

  --basic-box-shadow: 0px 2px 2px var(--extra-transparent-darkred);
  --hover-box-shadow: 0px 2px 2px var(--base-darkred);
  --active-box-shadow: inset 0px 2px 2px var(--extra-darkred);
}

/*  */
/* Page */
/*  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  width: 1200px;
  margin: 0 auto;

  font-family: "Roboto";
  font-weight: 700;

  color: var(--base-white);
  background-color: var(--page-bg-green);
}

/*  */
/* Global */
/*  */
.visually-hidden {
  /* position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; */
}

.link {
  display: inline-block;

  border-bottom: 1px solid;
  border-bottom-color: var(--base-transparent-white);
  text-decoration: none;
}

.list {
  list-style: none;
}

/* Button */

.button {
  border: none;

  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  color: var(--base-white);

  text-shadow: var(--basic-text-shadow);
  box-shadow: var(--basic-box-shadow);

  background: linear-gradient(var(--basic-gradient));
}

.button:hover,
.button:focus {
  box-shadow: var(--hover-box-shadow);

  background: linear-gradient(var(--hover-extra-gradient)),
    linear-gradient(var(--basic-gradient));
}

.button:active {
  box-shadow: var(--active-box-shadow);

  background: linear-gradient(var(--active-extra-gradient)),
    linear-gradient(var(--basic-gradient));
}

/* Form */

.field {
  height: 44px;
  padding-left: 14px;
  border: none;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  box-shadow: 0px 0px 0px 1px var(--base-field-border);
}

.field:hover {
  box-shadow: 0px 0px 0px 2px var(--base-field-border);
}

.field:focus {
  box-shadow: 0px 0px 0px 2px var(--active-field-border);
  outline: none;
}

.field::placeholder {
  font-weight: 400;

  color: var(--base-grey);
}

/*  */
/* Header */
/*  */
.header__form {
  background-color: var(--base-beige);
}

/* Main navigation */

.main-navigation__link {
  font-size: 16px;
  line-height: 18px;

  color: var(--base-white);
}

.main-navigation__link:hover,
.main-navigation__link:focus {
  color: var(--base-black);

  background-color: var(--base-white);
}

.main-navigation__link:not([href]) {
  color: var(--base-white);

  background-color: var(--base-darkpearl);
}

/* Inner list */

.inner-list__link {
  text-decoration: none;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: var(--base-black);
}

.inner-list__item--special .inner-list__link {
  font-weight: 700;
  line-height: 18px;
}

.inner-list__link:hover,
.inner-list__link:focus {
  background-color: var(--base-lightpearl);
}

.inner-list__link:active {
  background-color: var(--base-pearl);
}

.inner-list__link:not([href]) {
  color: var(--base-white);

  background-color: var(--base-darkpearl);
}

/* User navigation */

.user-navigation__button {
  text-decoration: none;

  font-size: 14px;
  line-height: 16px;

  color: var(--base-white);

  background: var(--base-transparent-white);
}

.user-navigation__button:hover,
.user-navigation__button:focus {
  color: var(--base-black);

  background: var(--base-white);
}

.sign-form__link {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;

  color: var(--base-black);

  border-bottom-color: var(--base-transparent-black);
}

.sign-form__link:hover,
.sign-form__link:focus {
  color: var(--base-brightred);

  border-bottom-color: var(--transparent-brightred);
}

/* Cart form */

.cart-form {
  font-weight: 400;
  font-size: 13px;

  color: var(--base-black);
}

.product-list__name {
  font-weight: 400;
}

.product-list__price {
  color: var(--extra-grey);
}

.cart-form__total {
  font-weight: 700;
  font-size: 15px;
}

/* Header info */

.info__time {
  font-size: 14px;
  line-height: 16px;
}

.info__phone {
  font-size: 22px;
  line-height: 24px;
}

/*  */
/* Main */
/*  */
.main__title {
  font-size: 35px;
  line-height: 41px;
}

/* Carousel */

.slide__title {
  text-align: center;

  font-size: 60px;
  line-height: 60px;
}

.carousel__button {
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.05em;

  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

/* Sales */

.sales__title {
  font-size: 35px;
  line-height: 41px;
}

.sales__text {
  font-size: 18px;
  line-height: 22px;
}

.sales__item {
  background-repeat: no-repeat;
}

.sales__raspberry {
  background-image: url(../img/design/index/raspberry-bg.jpg);
}

.sales__choco {
  background-image: url(../img/design/index/choco-bg.jpg);
}

/* Bestsellers */

.product-card:hover {
  background-color: var(--base-transparent-white);
}

.product-card__price {
  font-size: 45px;
  line-height: 45px;

  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.product-card__price span {
  font-size: 30px;
  line-height: 35px;
}

.product-card__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

  color: var(--base-white);
}

.product-card__link:hover {
  color: var(--base-dimred);

  border-bottom-color: var(--transparent-dimred);
}

.product-card__button {
  background: linear-gradient(
    180deg,
    var(--base-red) 0%,
    var(--base-brightred) 100%
  );
  box-shadow: 0px 1px 2px var(--base-darkred);
}

/* About */

.about {
  font-weight: 400;

  color: var(--base-black);

  background-image: url(../img/design/index/waffle-pattern.jpg);
}

.about__title {
  font-size: 24px;
  line-height: 30px;
}

.features__item {
  font-size: 16px;
  line-height: 22px;
}

/* News */

.news {
  color: var(--base-black);

  background-image: url(../img/design/index/strawberry-bg.jpg);
  background-repeat: no-repeat;
}

.news__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.blog-article__link {
  font-size: 24px;
  line-height: 30px;

  color: var(--base-black);
}

.blog-article__link:hover,
.blog-article__link:focus {
  color: var(--base-brightred);
}

/* Subscribe */

.subscribe {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: var(--extra-black);

  background-image: url(../img/design/index/mail-bg.png);
  background-repeat: no-repeat;
}

.subscribe__wrapper {
  background-color: var(--base-beige);
}

/* Contacts */

.contacts {
  color: var(--base-black);
}

.contacts__title,
.contacts__text span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.contacts__text {
  font-size: 18px;
  line-height: 24px;
}

/* Crumbs */

.crumbs__item a {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: var(--base-white);
}

.crumbs__item a:hover {
  color: var(--base-dimred);

  border-bottom-color: var(--transparent-dimred);
}

.crumbs__item a:not([href]),
.crumbs__item a:not([href]):hover {
  color: var(--base-white);

  border-bottom-color: transparent;
}

/* Filters */

.filters-form__section {
  border: none;

  background-color: var(--base-transparent-white);
}

.filters-form__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.filters-form__button {
  border: none;

  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  color: var(--base-white);

  box-shadow: 0px 0px 0px 1px var(--base-white);
  background-color: var(--base-transparent-white);
}

.filters-form__button:hover,
.filters-form__button:focus {
  color: var(--base-black);

  background-color: var(--base-white);
}

.filters-form__button:active {
  box-shadow: inset 0px 2px 1px #696969;
}

.filters-form__sort {
  border: none;

  font-size: 16px;
  line-height: 18px;

  color: var(--base-white);

  background: transparent;
}

.filters-form__sort:hover {
  color: var(--base-black);
}

/* Paginations */

.pagination__link {
  text-decoration: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  color: var(--base-white);
}

.pagination__link:hover,
.pagination__link:focus {
  background-color: var(--base-transparent-white);
}

.pagination__link:not([href]) {
  color: var(--base-black);

  background-color: var(--base-white);
}

/*  */
/* Footer */
/*  */
.footer {
  font-weight: 400;
}

/* Extra info */

.extra {
  font-size: 13px;
}

.extra__link {
  color: var(--base-white);
}

.extra__link:hover {
  color: var(--base-dimred);

  border-bottom-color: var(--transparent-dimred);
}

.extra__item--special {
  font-weight: 700;
}

/* Copyright */

.copyright__text {
  font-size: 12px;
}

.copyright__academy-link {
  color: var(--base-white);
}

.copyright__academy-link:hover {
  color: var(--base-dimred);

  border-bottom-color: var(--transparent-dimred);
}

/*  */
/* Feedback modal*/
/*  */
.feedback-form__review {
  padding-top: 16px;

  font-family: "Roboto";
}
